body {
    background-color: pink;
}

#card {
    display: flex;
    flex-flow: row wrap;
    
}
.floating-card {
    float: left;
    margin: 5px;
    max-width: 300px;
    
}
.card-img-top {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}
.card-title {
    text-align: center;
}