body {
    background-color: pink;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.card {
    display: inline-flex;
    width: 35%;
    margin: 15px;
  }
.card h2 {
    text-align: center;
    padding: 1px 10px;
  }
#btn-primary {
    background-color: purple;
}